<div>
  <div>
    <table class="table table-sm">
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.firstname}} {{user.lastname}}</td>
      </tr>
    </table>
  </div>
  <button (click)="setName();">Change Name</button>
  |
  <button (click)="toggleColor()">Toogle Color</button>
  | <button (click)="flipHidden()">Flip Hidden</button>
  <h1 [hidden]="isHidden" [style.color]="h1Color">{{title}} is my first Angular app.My name is {{name}}</h1>
  <div *ngIf="showDiv">
    <input [(ngModel)]="txtValue" type = "text">
    
    | <label>{{txtValue}}</label>
    |<button (click) = "setTxtValue('WTE!');">WTE!</button>
  </div>
  <div>
    <ol>
      <li *ngFor = "let name of names">
        <span>Name is {{name}}</span>
      </li>
    </ol>
  </div>
</div>